.profilePage {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
}

.profilePage .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.profilePage .info {
    text-align: left;
}

#user-info-heading {
    margin-bottom: 30px;
}

.profilePage h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.profilePage span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
}

.profilePage b {
    color: black;
}

.profilePage button {
    /* margin-top: 15px; */
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #18A661;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profilePage button:hover {
    background-color: #006A4E;
}


@media (max-width: 738px) {

    .profilePage {
        background-color: #ffffff;
    }

    .profilePage .info {
        width: 100%;
    }
}