.profilePage {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.profilePage .pages {
  width: 900px;
}

.profilePage .bar {
  width: 220px;
}

@media (max-width: 738px) {
  .profilePage {
    flex-direction: column;
  }

  .profilePage .bar {
    width: 100%;
  }

  .profilePage .pages {
    width: 100%;
  }
}
