.trade-manage {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

.trade-manage .top {
  height: 50px;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.trade-manage .top h1 {
  font-size: 24px;
  color: gray;
  transition: color 0.3s ease;
}

.trade-manage .top h1.active {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.trade-manage .content {
  margin-top: 20px;
}
