.Navbar .Toggle {
  display: none;
}

.Navbar {
  min-height: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Navbar a:hover {
  color: #5D7080;
}

.Navbar .left .logo:hover {
  color: black;
}

.Navbar .left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Navbar img {
  width: 50px;
  height: 50px;
}

.Navbar .left .logo {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}


.Navbar .right .right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  height: 100%;
}

.Navbar .right .right-menu button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  padding: 0;
  transition: color 0.3s ease;
}

.Navbar .right .right-menu button:hover {
  color: #5D7080;
}

.Navbar .right .right-menu .user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  height: 100%;
}

.Navbar .right .menuIcon {
  display: none;
}

.Navbar .right .menu {
  color: black;
  height: 80vh;
  width: 50%;
  gap: 40px;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: -1;
}

.Navbar .right .menu.active {
  display: none;
}

@media (max-width: 738px) {
  .Navbar {
    width: 100%;
    padding: 0;
  }

  /* .Navbar .left .logo {
    font-size: 20px;
  } */

  .Navbar img {
    width: 40px;
    height: 40px;
  }

  .Navbar .left a:not(.logo) {
    display: none;
  }

  .Navbar .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .Navbar .right .right-menu {
    display: none;
  }

  .Navbar .right .menuIcon {
    display: block;
    position: absolute;
    top: 30px;
    right: 10%;
  }

  .Navbar .right .menu {
    display: none;
  }

  .Navbar .right .menu.active {
    display: block;
    position: absolute;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    top: 100px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .Navbar .right .menu.active a {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .Navbar .right .menuIcon button {
    background: none;
    border: none;
    font-size: 1.9rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
    padding: 0;
    transition: color 0.3s ease;
  }

  .Navbar .right .menu.active button {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    transition: color 0.3s ease;
  }

}

/* 
nav .right .menuIcon {
  display: none;
  z-index: 999;
}

nav .right .menuIcon img {
  width: 36px;
  height: 36px;
  cursor: pointer;
} */