.CounterReceived {
  margin-top: 20px;
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 450px;
}

.CounterReceived .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CounterReceived span {
  font-size: 16px;
}

.wanted-items-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-button {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.slider-button:hover {
  color: gray;
}

.prev-wanted {
  left: -30px;
}

.next-wanted {
  right: -30px;
}

.CounterReceived .header h1 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.CounterReceived .title h4 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.CounterReceived .pricerange h3 {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: gray;
}

.CounterReceived .tradepage-container {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.CounterReceived .tradepage-container .item-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 280px;
  overflow: hidden;
  gap: 15px;
}

.CounterReceived .tradepage-container .requested-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 190px;
  height: 260px;
  gap: 8px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.CounterReceived .requested-item .line-container {
  display: flex;
  justify-content: center;
  background-color: #006a4e;
  width: 90%;
}

.CounterReceived .requested-item .line-container .line {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.CounterReceived .tradepage-container .requested-item .image {
  max-width: 200px;
  height: 100px;
}

.CounterReceived .tradepage-container .requested-item .image img {
  width: 100%;
  height: 100%;
}

.CounterReceived .tradepage-container .requested-item .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 25px;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
  background-color: #18a661;
}

.CounterReceived .tradepage-container .mid-sec .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.CounterReceived .tradepage-container .mid-sec .actions .offer-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  transition: 0.3s;
  background-color: #18a661;
}

.CounterReceived .tradepage-container .mid-sec .actions .offer-button:hover {
  background-color: #006a4e;
}

.CounterReceived .tradepage-container .offered-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 190px;
  height: 260px;
  gap: 8px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.CounterReceived .tradepage-container .offered-item .image {
  max-width: 200px;
  height: 100px;
}

.CounterReceived .tradepage-container .offered-item .image img {
  width: 100%;
  height: 100%;
}

.CounterReceived .offered-item .line-container {
  display: flex;
  justify-content: center;
  background-color: #006a4e;
  width: 90%;
}

.CounterReceived .offered-item .line-container .line {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.CounterReceived .tradepage-container .offered-item .remove-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 25px;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
  background-color: #18a661;
}

.CounterReceived .tradepage-container .offered-item .remove-button:hover {
  background-color: #006a4e;
}

.CounterReceived .tradepage-container .offered-item .image .cust-i {
  color: #aaa;
  width: 100%;
  height: 100%;
}

.CounterReceived .tradepage-container .offered-item .dsp-msg h2 {
  font-size: 20px;
  color: #aaa;
  text-align: center;
}

#user-info-heading {
  margin-bottom: 30px;
}

.CounterReceived h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}

@media (max-width: 738px) {
  .CounterReceived .header h1 {
    font-size: 12px;
    font-weight: 500;
  }

  .CounterReceived .title h4 {
    font-size: 8px;
    font-weight: 500;
  }

  .CounterReceived .pricerange h3 {
    font-size: 8px;
  }

  .CounterReceived .tradepage-container .info-sec {
    flex-direction: column;
  }

  .CounterReceived .tradepage-container .item-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .CounterReceived .tradepage-container {
    height: 250px;
    flex-direction: row;
    width: 100%;
  }

  .CounterReceived .tradepage-container .mid-sec {
    background-color: none;
    padding: 10px;
    border-radius: 5px;
  }

  .CounterReceived .tradepage-container .mid-sec .actions {
    gap: 5px;
  }

  .CounterReceived .tradepage-container .mid-sec .actions .offer-button {
    width: 25px;
    height: 10px;
    font-size: 6px;
  }

  .CounterReceived .tradepage-container .requested-item {
    width: 110px;
    height: 220px;
  }

  .CounterReceived .tradepage-container .requested-item .button {
    width: 90px;
    height: 18px;
  }

  .CounterReceived .tradepage-container .offered-item {
    width: 110px;
    height: 220px;
  }

  .CounterReceived .tradepage-container .offered-item .remove-button {
    width: 90px;
    height: 18px;
  }
}
