.CounterSent {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 450px;
}

.CounterSent .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CounterSent span {
  font-size: 16px;
}

.wanted-items-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-button {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.slider-button:hover {
  color: gray;
}

.prev-wanted {
  left: -30px;
}

.next-wanted {
  right: -30px;
}

.item-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CounterSent .header h1 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.CounterSent .title h4 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.CounterSent .pricerange h3 {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: gray;
}

.CounterSent .tradepage-container {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

.CounterSent .tradepage-container .order_id {
  margin-left: 40px;
}

.CounterSent .tradepage-container .item-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 280px;
  overflow: hidden;
  gap: 15px;
}

.CounterSent .tradepage-container .requested-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 190px;
  height: 260px;
  gap: 8px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.slide-hidden {
  display: none;
}

.CounterSent .requested-item .line-container {
  display: flex;
  justify-content: center;
  background-color: #006a4e;
  width: 90%;
}

.CounterSent .requested-item .line-container .line {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.CounterSent .tradepage-container .requested-item .image {
  max-width: 200px;
  height: 100px;
}

.CounterSent .tradepage-container .requested-item .image img {
  width: 100%;
  height: 100%;
}

.CounterSent .tradepage-container .requested-item .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 25px;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  background-color: #18a661;
}

.CounterSent .tradepage-container .requested-item .button:hover {
  background-color: #006a4e;
}

.CounterSent .tradepage-container .mid-sec .cross {
  display: none;
}

.CounterSent .tradepage-container .mid-sec .status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.CounterSent .tradepage-container .mid-sec .cancel {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  transition: 0.3s;
  background-color: #18a661;
}

.CounterSent .tradepage-container .mid-sec .cancel:hover {
  background-color: #d50000;
}

.CounterSent .tradepage-container .mid-sec .ext {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  transition: 0.3s;
  background-color: #18a661;
}

.CounterSent .tradepage-container .mid-sec .ext:hover {
  background-color: #006a4e;
}

.CounterSent .tradepage-container .offered-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 190px;
  height: 260px;
  gap: 8px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.CounterSent .tradepage-container .offered-item .image {
  max-width: 200px;
  height: 100px;
}

.CounterSent .tradepage-container .offered-item .image img {
  width: 100%;
  height: 100%;
}

.CounterSent .offered-item .line-container {
  display: flex;
  justify-content: center;
  background-color: #006a4e;
  width: 90%;
}

.CounterSent .offered-item .line-container .line {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.CounterSent .tradepage-container .offered-item .remove-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 25px;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  background-color: #18a661;
}

.CounterSent .tradepage-container .offered-item .remove-button:hover {
  background-color: #006a4e;
}

.CounterSent .tradepage-container .offered-item .image .cust-i {
  color: #aaa;
  width: 100%;
  height: 100%;
}

.CounterSent .tradepage-container .offered-item .dsp-msg h2 {
  font-size: 20px;
  color: #aaa;
  text-align: center;
}

#user-info-heading {
  margin-bottom: 30px;
}

.CounterSent h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  color: black;
}

@media (max-width: 738px) {
  .CounterSent .tradepage-container .info-sec {
    flex-direction: column;
  }

  .CounterSent .header h1 {
    font-size: 12px;
    font-weight: 500;
  }

  .CounterSent .title h4 {
    font-size: 8px;
    font-weight: 500;
  }

  .CounterSent .pricerange h3 {
    font-size: 8px;
  }

  .CounterSent .tradepage-container .item-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
  }

  .CounterSent .tradepage-container {
    height: 250px;
    flex-direction: column;
  }

  .CounterSent .tradepage-container .requested-item {
    width: 110px;
    height: 220px;
  }

  .CounterSent .tradepage-container .requested-item .button {
    width: 90px;
    height: 18px;
  }

  .CounterSent .tradepage-container .mid-sec .status h1 {
    font-size: 10px;
  }

  .CounterSent .tradepage-container .mid-sec .cancel {
    display: none;
  }

  .CounterSent .tradepage-container .mid-sec .cross {
    display: block;
  }

  .CounterSent .tradepage-container .offered-item {
    width: 110px;
    height: 220px;
  }

  .CounterSent .tradepage-container .offered-item .remove-button {
    width: 90px;
    height: 18px;
  }
}
