.userList {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* min-height: 100vh; */
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.userList .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userList .info {
  text-align: left;
}

.userList .container .buttons {
  display: flex;
  gap: 10px;
}

.userList .cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userList .cards .card-container {
  width: 85%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.userList h1 {
  font-size: 24px;
  color: black;
}

.userList button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #18a661;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.userList button:hover {
  background-color: #006a4e;
}

@media (max-width: 738px) {
  .userList {
    background-color: #ffffff;
  }

  .userList .info {
    width: 100%;
  }
}

/* .card-container {
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
} */

.userListCard {
  margin-top: 40px;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.userListCard .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.userListCard .image-container .image {
  max-width: 200px;
}

.userListCard .image-container .image img {
  width: 100%;
  height: 100%;
}

.userListCard .line-container {
  display: flex;
  justify-content: center;
}

.userListCard .line-container .line {
  width: 90%;
  height: 1px;
  background-color: #cccccc;
}

.userListCard .title {
  margin: 10px 20px;
}

.userListCard .title h1 {
  padding: 0;
  font-size: 18px;
}

.userListCard .status {
  margin: 10px 20px;
}

.userListCard .status h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.userListCard .buttons {
  gap: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  font-size: small;
  font-weight: bold;
}

.userListCard .button1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
  background-color: #18a661;
}

.userListCard .button1:hover {
  background-color: #006a4e;
}

.userListCard .button2 {
  gap: 10px;
  color: white;
  display: flex;
  flex-direction: row;
}

.userListCard .button2 .cust-i {
  font-size: 18px;
}

.userListCard .button2 .edit {
  color: white;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  background-color: #18a661;
}

.userListCard .button2 .edit:hover {
  background-color: #006a4e;
}

.userListCard .button2 .delete {
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  background-color: #18a661;
}

.userListCard .button2 .delete:hover {
  background-color: #f95f00;
}

@media (max-width: 738px) {
  .userList {
    background-color: white;
  }

  .userList .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .userList .container .buttons {
    flex-direction: column;
  }

  .userList .cards .card-container {
    width: 100%;
  }
}
