.registerPage {
  margin-top: 50px;
  height: 100%;
  display: flex;
  margin-bottom: 50px;
}

.registerPage .formContainer {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerPage .formContainer form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registerPage .formContainer form input {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.registerPage .formContainer form button {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: #5d7080;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.registerPage .formContainer form button:hover {
  background-color: #97d5c9;
}

.registerPage .formContainer form span {
  color: rgba(255, 0, 0, 0.591);
}

.registerPage .formContainer form a {
  font-size: 14px;
  color: gray;
  border-bottom: 1px solid gray;
  width: max-content;
}

.registerPage .imgContainer {
  flex: 2;
  background-color: #ecfffd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerPage .imgContainer img {
  width: 100%;
}

@media (max-width: 738px) {
  .registerPage .formContainer form {
    width: 80%;
  }

  .registerPage .imgContainer {
    display: none;
  }
}
